# Relocatable files
*.o
relocs
relocs/*

# Executable files
a.out
woody
woody_woodpacker

# Local vscode config
.vscode

# Local scripts
gensources.sh

# miscelaneous
on_test

# clangd
.cache/
compile_commands.json